In [1]:
import pandas as pd
import numpy as np
import pickle

In [2]:
census_df = pd.read_csv('cc-est2018-alldata.csv', encoding='latin-1')
census_df

,SUMLEV,STATE,COUNTY,STNAME,CTYNAME,YEAR,AGEGRP,TOT_POP,TOT_MALE,TOT_FEMALE,...,HWAC_MALE,HWAC_FEMALE,HBAC_MALE,HBAC_FEMALE,HIAC_MALE,HIAC_FEMALE,HAAC_MALE,HAAC_FEMALE,HNAC_MALE,HNAC_FEMALE
0,50,1,1,Alabama,Autauga County,1,0,54571,26569,28002,...,607,538,57,48,26,32,9,11,19,10
1,50,1,1,Alabama,Autauga County,1,1,3579,1866,1713,...,77,56,9,5,4,1,0,0,2,1
2,50,1,1,Alabama,Autauga County,1,2,3991,2001,1990,...,64,66,2,3,2,7,2,3,2,0
3,50,1,1,Alabama,Autauga County,1,3,4290,2171,2119,...,51,57,13,7,5,5,2,1,1,1
4,50,1,1,Alabama,Autauga County,1,4,4290,2213,2077,...,48,44,7,5,0,2,2,1,3,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
656673,50,56,45,Wyoming,Weston County,11,14,473,267,206,...,4,5,0,0,0,0,0,0,0,0
656674,50,56,45,Wyoming,Weston County,11,15,336,168,168,...,2,1,0,0,0,0,2,0,0,0
656675,50,56,45,Wyoming,Weston County,11,16,224,104,120,...,1,1,0,0,0,0,0,0,0,0
656676,50,56,45,Wyoming,Weston County,11,17,196,88,108,...,1,1,0,0,1,0,0,0,0,0
656677,50,56,45,Wyoming,Weston County,11,18,200,69,131,...,1,1,0,0,0,0,0,0,0,0

In [3]:
census_df_latest = census_df[census_df.columns[:10]][census_df.YEAR==11]
census_df_latest

,SUMLEV,STATE,COUNTY,STNAME,CTYNAME,YEAR,AGEGRP,TOT_POP,TOT_MALE,TOT_FEMALE
190,50,1,1,Alabama,Autauga County,11,0,55601,26995,28606
191,50,1,1,Alabama,Autauga County,11,1,3364,1728,1636
192,50,1,1,Alabama,Autauga County,11,2,3423,1779,1644
193,50,1,1,Alabama,Autauga County,11,3,3882,1977,1905
194,50,1,1,Alabama,Autauga County,11,4,3755,1913,1842
...,...,...,...,...,...,...,...,...,...,...
656673,50,56,45,Wyoming,Weston County,11,14,473,267,206
656674,50,56,45,Wyoming,Weston County,11,15,336,168,168
656675,50,56,45,Wyoming,Weston County,11,16,224,104,120
656676,50,56,45,Wyoming,Weston County,11,17,196,88,108
656677,50,56,45,Wyoming,Weston County,11,18,200,69,131

In [4]:
combine_fips = lambda a, b: '{:0>2}{:0>3}'.format(a, b)
census_df_latest['FIPS'] = census_df_latest.STATE.combine(census_df_latest.COUNTY, combine_fips)
census_df_latest

,SUMLEV,STATE,COUNTY,STNAME,CTYNAME,YEAR,AGEGRP,TOT_POP,TOT_MALE,TOT_FEMALE,FIPS
190,50,1,1,Alabama,Autauga County,11,0,55601,26995,28606,01001
191,50,1,1,Alabama,Autauga County,11,1,3364,1728,1636,01001
192,50,1,1,Alabama,Autauga County,11,2,3423,1779,1644,01001
193,50,1,1,Alabama,Autauga County,11,3,3882,1977,1905,01001
194,50,1,1,Alabama,Autauga County,11,4,3755,1913,1842,01001
...,...,...,...,...,...,...,...,...,...,...,...
656673,50,56,45,Wyoming,Weston County,11,14,473,267,206,56045
656674,50,56,45,Wyoming,Weston County,11,15,336,168,168,56045
656675,50,56,45,Wyoming,Weston County,11,16,224,104,120,56045
656676,50,56,45,Wyoming,Weston County,11,17,196,88,108,56045
656677,50,56,45,Wyoming,Weston County,11,18,200,69,131,56045

In [5]:
census_df_export = census_df_latest[['FIPS', 'AGEGRP', 'TOT_POP', 'TOT_MALE', 'TOT_FEMALE']]
census_df_export

         FIPS  AGEGRP  TOT_POP  TOT_MALE  TOT_FEMALE
190     01001       0    55601     26995       28606
191     01001       1     3364      1728        1636
192     01001       2     3423      1779        1644
193     01001       3     3882      1977        1905
194     01001       4     3755      1913        1842
...       ...     ...      ...       ...         ...
656673  56045      14      473       267         206
656674  56045      15      336       168         168
656675  56045      16      224       104         120
656676  56045      17      196        88         108
656677  56045      18      200        69         131

[59698 rows x 5 columns]

In [6]:
census_df_export.to_csv('census_data.csv', index=False, encoding='latin-1')